* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainBgColor: rgb(201, 224, 201);
    --gameBgColor: rgb(145, 232, 145);
    --fieldBgColor: green;
    --fieldBgHoverColor: rgb(15, 173, 15);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_info {
    flex-grow: 1;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game_buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
}

.btn {
    padding: 0.5rem;
    border-radius: 12px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: all 250ms ease;
}

.btn.btn--locked {
    background-color: rgb(184, 181, 181);
    color: black;
    pointer-events: none;
}

.btn--start,
.btn--start:active {
    background-color: rgb(69, 203, 69);
    width: 100px;
    align-self: center;
}

.btn--start:hover {
    background-color: rgb(57, 170, 57);
}

.btn--next,
.btn--next:active {
    background-color: blue;
}

.btn--next:hover {
    background-color: rgb(33, 33, 239);
}

.btn--stop,
.btn--stop:active {
    background-color: black;
}

.btn--stop:hover {
    background-color: rgb(41, 40, 40);
}

.btn--settings,
.btn--settings:active {
    background-color: green;
}

.btn--settings:hover {
    background-color: rgb(41, 205, 41);
}

.btn--close-settings {
    background-color: brown;
}


.btn--close-settings:hover {
    background-color: rgb(219, 93, 93);
}

[page="start"] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
    justify-content: center;
    background-color: rgb(84, 72, 72);
    color: white;
}

[page="game"] {
    background-color: var(--mainBgColor);
    display: flex;
    flex-direction: column;
}

[page="game"].game--lose {
    background-color: red;
}

.game {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
}


.game_board,
.board {
    display: grid;
}


.game_board {
    flex-grow: 1;
    height: 350px;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    background-color: var(--gameBgColor);
}

.game_board--locked {
    pointer-events: none;
}

.board {
    padding: 5px;
    background-color: var(--gameBgColor);
    gap: 5px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.start_header {
    text-align: center;
}

.field {
    background-color: var(--fieldBgColor);
    cursor: pointer;
}

.field:hover:not(.field--selected, .field--wrong) {
    background-color: var(--fieldBgHoverColor);
}

.field--selected {
    background-color: blue;
}

.field--wrong {
    background-color: gray;
}

.field--show {
    background-color: yellow;
}

.page {
    padding: 10px;
    height: 450px;
}

.page--invisible {
    display: none;
}

.game_buttons {
    background-color: gray;
    flex-grow: 1;
    align-items: center;
}

.settings-option {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 10px;
    align-items: center;
}

.settings-option__select {
    border: none;
    outline: 1px solid green;
    padding: 5px;
}

.settings__buttons {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
}